<h3>Comparte tu codigo</h3>
	<%= form_for Work.new do |f| %>
		<%= f.text_area :text%>
	    <%= submit_tag("Generar un Link") %>
	<% end %>
	<div class="lista">
			<em>Listado de Links</em>
		<ul>
			<% Work.order('created_at DESC').each do |work| %>
			<li>
              <%= link_to "#{request.protocol}#{request.host_with_port}#{ short_work_path(work)}", short_work_path(work) %>  <%= time_ago_in_words work["created_at"] %> ago
          	</li>
			<% end %>
		</ul>
	</div>
