<h3>Comparte tu codigo</h3>
	<%= form_for Work.new do |f| %>
		<%= f.text_area :text%>
	    <%= submit_tag("Generar un Link") %>
	<% end %>
	<div class="lista">
			<em>Listado de Links</em>
		<ul>
			<% Work.all.each do |work| %>
			<li>
             <%= link_to "#{request.protocol}#{request.host_with_port}#{ short_work_path(work)}", short_work_path(work) %>  &nbsp; <%= work["created_at"] %>
          	</li>
			<% end %>
		</ul>
	</div>
